extends layout

block content
  //header 
  header#header
    div.container 
      a(href="#")
        image.logo(src="images/logo.png")
      div.right
        h2.phone (02) 9698 7155
        a.get-touch.button(href="#") Get In Touch 
  //banner 
  div.banner
    div.container
       h2 VIRTUAL REALITY 
       h1 A new way to get undivided attention for your brand
       a(href="#")
         div
           
  //vr
  div.vr
    div.container
      div.left.col-xs-12.col-sm-7
      div.right.col-xs-12.col-sm-5
        h2 WHAT IS VIRTUAL REALITY?
        p Transport your audience into a new world or give them the ability to relive memories. Virtual reality sends them to the middle of the experience, where they can look anywhere, and see everything. Resulting in powerful experiences that stay at the forefront of their minds.
        a(href="#").waves-effect.waves-light.btn.yellow.darken-2.text-white Find Out More

  //vr types
  div.vr-types
    div.top
      h2 TYPES OF VIRTUAL REALITY
    div.arrow-down 
    div.container
      div.col-xs-12.col-sm-3.item
        img(src="images/vr_1.png")
        h2 Animation
        p Animated virtual reality brings imaginary and unseen worlds to life through a cinematic experience. Giving you the reins to create what you want through 2D/3D modelled environments, characters, lighting, and texture.
        p.grey-font Visualisation<br>Entertainment<br>Healthcare<br>Training
      div.col-xs-12.col-sm-3.item
        img(src="images/vr_2.png")
        h2 Live Action
        p Live action virtual reality invites you to an event, another time and place whether it be pre-captured or live streamed. Allowing you to live experiences beyond what you would normally have access to. 
        p.grey-font Training<br>Events<br>Sports<br>Entertainment
      div.col-xs-12.col-sm-3.item
        img(src="images/vr_3.png")
        h2 Motion Capture
        p Combining virtual reality with motion capture lets people control the experience intuitivley with their bodies. Movements are translated instantly into the virtual world, immersing the whole body into the experience. 
        p.grey-font Games<br>Training<br>Visualisation<br>Mutiplayer Experiences
      div.col-xs-12.col-sm-3.item
        img(src="images/vr_4.png")
        h2 Augmented Reality
        p Through smart devices, augmented reality enriches the present reality in real-time by adding graphics, animations, sounds, or videos. Giving people access to more useful and applicable information.  
        p.grey-font Shopping<br>Training<br>Healthcare<br>Visualisation


  //clients
  div.clients
    div
    h2 our clients
  //talk to us
  div.talk_to_us
    div.container
      h2 Got some ideas or questions for your own VR project?
      p If you'd like to get a demonstration of our virtual reality projects or have a chat about an interesting Virtual Reality project idea that you have
      a(href="#").waves-effect.waves-light.btn.yellow.darken-2.text-white Talk to Us Today


  //map
  div.map
    #map
    //map content  
    div.map-content
      h2 Get in touch
      .row
        .col-xs-1.clear-padding-left
            p.bold E
        .col-xs-7
            p crrative@s1t2.com.au 
      
      .row
        .col-xs-1.clear-padding-left
            p.bold P 
        .col-xs-7
            p (02) 9698 7155
      
      .row
        .col-xs-1.clear-padding-left
            p.bold A 
        .col-xs-7
            p Suite 3/104 Buckingham Street, Surry Hills, Sydney NSW 2010, Australia

  
  #pageslide
        #modal
          a#modal-lukk.btn-floating.btn-small.waves-effect.waves-light.yellow.darken-2.text-white.btn.button(href="javascript:$.pageslide.close()" style="font-size: 14px; text-align: center;position: absolute; top: 7px; right: 10px; display:block; border-radius: 100%;") x
          .textwidget
            form.contact-form(name="contactform" method="post" action="send_form_email.php")
              h2 Speak to S1T2 today
              p Call us on (02) 9698 7155<br>or email VR@s1t2.com.au
              p.alter_para Alternatively, leave your details and we'll get in touch shortly.
              p.label YOUR NAME (REQUIRED) <br>
                span.form-control-wrap.name
                  input#form-name(placeholder="Name" name="name" size="40")
              p.label.extra-margin YOUR EMAIL (REQUIRED)<br>
                span.form-control-wrap.email
                  input#form-email(placeholder="Email" name="email" size="40")
              p.label.extra-margin YOUR PHONE NUMBER (REQUIRED)<br>
                span.form-control-wrap.phone
                  input#form-phone(placeholder="Phone" name="phone" size="40")
              p.label.extra-margin LEAVE A MESSAGE (REQUIRED)<br>
                span.form-control-wrap.message
                  textarea#form-message(placeholder="Book a free consultation" name="message" rows="5" cols="30")
              p
                input.waves-effect.waves-light.btn.yellow.darken-2.text-white(value="BOOK A FREE CONSULTATION" type="submit")



  footer
    .container 
      p &copy; S1T2 2015
