@import 'media';

@font-face {
  font-family: 'DIN-Light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/DIN-Light.ttf') format('opentype');
}

body{
  font-family: 'DIN-Light';
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
a,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: DIN-Light,Helvetica, sans-serif;
  font-weight: normal;
}

h1,
h2 {
  font-weight: 300;
}

h1 {
 font-size: 40px;
}

h2 {
 font-size: 20px;
}

.btn {
  text-transform: none; 
  &:hover {
    color: #fff; 
  }
  &:visited {
    color: #fff; 
  }
}

@keyframes moveSlideshow {
  from { background-position: 0 0; }
  to { background-position: 1402px 0; }
}

@-webkit-keyframes moveSlideshow {
  from { background-position: 0 0; }
  to { background-position: 1402px 0; }
}
@-moz-keyframes moveSlideshow {
  from { background-position: 0 0; }
  to { background-position: 1402px 0; }
}

.container {
  width: 100%;  
  max-width: 1180px; 
  margin: 0 auto; 
}

/*******header*********/
header {
  padding: 10px;
  background:#0D2937;
  
  .right {

    float: right;
    line-height: 82px; 
    display: inline-block;
    
    .phone {
      color: #fff;    
      margin-right: 30px;
      float: left; 
      @include mobile-landscape-and-below {
        margin: 0; 
      }
    }

    .get-touch {
      color: #fff;
      padding: 10px;
      border: solid #fff 1px;    
      @include mobile-landscape-and-below {
        display: none; 
      } 
    }

  }
}
/*******header*********/

/*******banner*********/
.banner {
  width: 100%; 
  height: 100%;
  min-height: 560px;
  background: url('../images/banner_bg.png') top center;
  background-size: cover;
  text-align: center;
  
  h1,
  h2 {
    color: #fff; 
  } 
  h1 {
    width: 100%;
    max-width: 600px;
    margin: 0 auto; 
  }
  h2 {
    padding-top: 134px; 
    opacity: 0.5; 
    @include mobile-landscape-and-below {
      padding-top: 50px; 
    }
  }
  a {
    display: block;
    width: 133px;
    margin: 0 auto;
    margin-top: 54px; 
    div {
      background: url('../images/play_button.png') top center;
      width: 133px;
      height: 158px; 
    }
    
  }
}
/*******banner*********/


/*******vr*********/
.vr {
  padding-top: 63px;
  .left {
    background: url('../images/vr_desk_left.png') no-repeat top center;
    height: 335px; 
    @include tablet-portrait-and-below {
      background: url('../images/vr_mobile_left.png') no-repeat top center;
      height: 188px; 
    }
  }
  .right {
    padding-top: 30px;
    @include tablet-portrait-and-below {
      padding: 0; 
    }
    h2 {
      @include tablet-portrait-and-below {
        display: none; 
      }
    }
    .btn {
      margin-top: 20px; 
      @include tablet-portrait-and-below {
        display: none; 
      }
    } 
  }
}
/*******vr*********/

/*******vr types*********/
.vr-types {
  background: #F6F6F6;
  padding-bottom: 30px; 
  .top {
    background: #0D2937;
    text-align: center;
    padding: 44px 0; 
    h2 {
      color: #fff;
     
    } 
  }
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #0D2937;
    margin: 0 auto;
  }
  .container {
    padding-top: 60px;
    @include mobile-landscape-and-below {
      padding: 0; 
    }
    .item {
      img {
        width: 100%; 
        @include tablet-portrait-and-below {
          display: none; 
        }
      } 
      h2 {
        font-weight: 700; 
      } 
      .grey-font {
        color: #C3C3C3; 
      }
    } 
  }
}
/*******vr types*********/

/*******clients*********/
.clients {
  padding: 41px 0 20px 0; 
  div {
    background: url('../images/clients.png') top center;
    width: 100%;
    height: 50px;
    animation: moveSlideshow 12s linear infinite;
  }

  h2 {
    text-align: center; 
    text-transform: uppercase; 
  } 
}
/*******clients*********/

/*******talk to us today*********/
.talk_to_us {
  background: #F6F6F6;
  text-align: center;
  padding: 71px 0;
  h2 {
    font-weight: 400; 
  } 
  p {
    max-width: 500px;
    margin: 0 auto; 
    padding-top: 20px;
  }
  .btn {
    margin-top: 61px; 
  }
}
/*******talk to us today*********/

/*******map*********/
.map {
  width: 100%;
  height: 350px;
  position: relative; 
  @include tablet-portrait-and-below {
    height: auto; 
  }
  #map {
    width: 100%; 
    height: 100%; 
    @include tablet-portrait-and-below {
      display: none; 
    }
  }
  .map-content {
    position: absolute;
    z-index: 99999; 
    opacity: 0.8; 
    top: 60px;
    left: 166px;
    background: #fff;
    padding: 32px;
    h2 {
      margin-top: 0;
      font-weight: 400; 
    }
    .row {
      margin-bottom: 0; 
    }
    span {
      padding-right: 30px; 
    }
    .bold {
      font-family: 'DIN-Medium';
    }
    @include tablet-portrait-and-below {
      position: relative;
      top: 0;
      left: 0;
      padding: 0 20px; 
    } 
  }
}
/*******map*********/

/*******footer*********/
footer {
  background: #0D2937;
  padding: 42px 0; 
  p {
    font-weight: 300;
    color: #fff; 
  }
}
/*******footer*********/

#pageslide{
  box-shadow: none;
  background: #0D2937;
  overflow: auto;
  position: fixed;
  z-index: 999999;
  width: 350px;
  height: 100%;
  top: 0;
  left: auto;
  right: -350px;

  @include mobile-landscape-only {
    margin-left: 9px;
  }

  #modal{
    margin: 35px;
    width: 292px;
  }

  h2 {
    font-weight: 600;
    font-size: 26px;
    line-height: 1.2em;
    color: #fff;
    font-family: 'DIN-Bold';
    -webkit-font-smoothing: antialiased !important;
  }

  p {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.2em;
    color: #fff;
    margin: 7px 0 0px 0;
    -webkit-font-smoothing: antialiased !important;
    a {
      color: #fff;
    }
  }

  .alter_para {
    margin-bottom: 15px;
  }

  .extra-margin {
    margin-top: 15px !important;
  }

  .label{
    width: 100%;
    padding: 0;
    display: inline-block; 
    text-align: left; 
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased !important;

  }

  input[name],
  input[email],
  input[phone] {
    border: 0px none #e4e4e2;
    color: #000000; 
    padding: 10px 44px 10px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    max-width: 292px;
    margin-top: 4px;
    -webkit-font-smoothing: antialiased !important;
  }
  input[submit] {
    color: #fff; 
  }

  .form-control-wrap {
    position: relative;
  }

  .submit-form:hover {
    background-color: #f6ae00;
    -webkit-appearance: none;
  }
  
  textarea{
    border: 0px none #e4e4e2;
    background: #fff;
    color: #000000; 
    height: auto; 
    padding: 10px 44px 10px 10px;
    border-radius: 4px;
    font-size: 16px;
    width: 292px;
    margin-top: 4px;
  }
}

/**utils**/
.clear-padding-left {
  padding-left: 0;
}
/**utils**/
