@import 'media';
body{
  margin: 0;
}

h1,
h2 {
  font-weight: 300;
}

h1 {
 font-size: 40px;
}

h2 {
 font-size: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  background-repeat: repeat-x;
  background-color: #FFC302;
  border-radius: 0px;
  box-shadow: 0 3px 0 #efbf3e;
  cursor: pointer;
  text-transform: uppercase;
  margin: 2px 0;
  transition: all 0.2s linear;
  line-height: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  text-decoration: none;
  -webkit-font-smoothing: antialiased !important;
  font-size: 13px;
  &:hover {
    background-color: #f6ae00;
    color: #fff; 
  }
}

@keyframes moveSlideshow {
  from { background-position: 0 0; }
  to { background-position: 1402px 0; }
}

@-webkit-keyframes moveSlideshow {
  from { background-position: 0 0; }
  to { background-position: 1402px 0; }
}
@-moz-keyframes moveSlideshow {
  from { background-position: 0 0; }
  to { background-position: 1402px 0; }
}

.container {
  width: 100%;  
  max-width: 1180px; 
  margin: 0 auto; 
}

/*******header*********/
header {
  padding: 10px;
  background:#0D2937;
  .right {
    float: right;
    line-height: 82px; 
    display: inline-block;
    
    .phone {
      color: #fff;    
      margin: 38px; 
      @include mobile-landscape-and-below {
        margin: 0; 
      }
    }

    .get-touch {
      color: #fff;
      padding: 10px;
      border: solid #fff 1px;    
      @include mobile-landscape-and-below {
        display: none; 
      } 
    }

  }
}
/*******header*********/

/*******banner*********/
.banner {
  width: 100%; 
  height: 100%;
  min-height: 560px;
  background: url('../images/banner_bg.png') top center;
  background-size: cover;
  text-align: center;
  
  h1,
  h2 {
    color: #fff; 
  } 
  h1 {
    width: 100%;
    max-width: 600px;
    margin: 0 auto; 
  }
  h2 {
    padding-top: 134px; 
    opacity: 0.5; 
    @include mobile-landscape-and-below {
      padding-top: 50px; 
    }
  }
  a {
    display: block;
    width: 133px;
    margin: 0 auto;
    margin-top: 54px; 
    div {
      background: url('../images/play_button.png') top center;
      width: 133px;
      height: 158px; 
    }
    
  }
}
/*******banner*********/


/*******vr*********/
.vr {
  padding-top: 63px;
  .left {
    background: url('../images/vr_desk_left.png') no-repeat top center;
    height: 335px; 
    @include tablet-portrait-and-below {
      background: url('../images/vr_mobile_left.png') no-repeat top center;
      height: 188px; 
    }
  }
  .right {
    padding-top: 30px;
    @include tablet-portrait-and-below {
      padding: 0; 
    }
    h2 {
      @include tablet-portrait-and-below {
        display: none; 
      }
    }
    .btn {
      margin-top: 20px; 
      @include tablet-portrait-and-below {
        display: none; 
      }
    } 
  }
}
/*******vr*********/

/*******vr types*********/
.vr-types {
  background: #F6F6F6;
  .top {
    background: #0D2937;
    text-align: center;
    padding: 44px 0; 
    h2 {
      color: #fff;
     
    } 
  }
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #0D2937;
    margin: 0 auto;
  }
  .container {
    padding-top: 60px;
    @include mobile-landscape-and-below {
      padding: 0; 
    }
    .item {
      img {
        width: 100%; 
        @include tablet-portrait-and-below {
          display: none; 
        }
      } 
      h2 {
        font-weight: 700; 
      } 
      .grey {
        color: #C3C3C3; 
      }
    } 
  }
}
/*******vr types*********/

/*******clients*********/
.clients {
  padding: 41px 0; 
  div {
    background: url('../images/clients.png') top center;
    width: 100%;
    height: 58px;
    animation: moveSlideshow 12s linear infinite;
  }
  
}
/*******clients*********/

/*******talk to us today*********/
.talk_to_us {
  background: #F6F6F6;
  text-align: center;
  padding: 71px 0;
  h2 {
    font-weight: 400; 
  } 
  p {
    max-width: 500px;
    margin: 0 auto; 
    padding-top: 20px;
  }
  .btn {
    margin-top: 61px; 
  }
}
/*******talk to us today*********/

/*******map*********/
.map {
  width: 100%;
  height: 350px;
  position: relative; 
  @include tablet-portrait-and-below {
    height: auto; 
  }
  #map {
    width: 100%; 
    height: 100%; 
    @include tablet-portrait-and-below {
      display: none; 
    }
  }
  .map-content {
    position: absolute;
    z-index: 99999; 
    top: 60px;
    left: 166px;
    background: #fff;
    padding: 32px 45px;
    h2 {
      font-weight: 400; 
    }
    span {
      padding-right: 30px; 
    }
    @include tablet-portrait-and-below {
      position: relative;
      top: 0;
      left: 0;
      padding: 0 20px; 
    } 
  }
}
/*******map*********/

/*******footer*********/
footer {
  background: #0D2937;
  padding: 42px 0; 
  p {
    color: #fff; 
  }
}
/*******footer*********/

